@model QuanLiDiem.Models.DanhSachSinhVien
<h2>Chi tiết sinh viên</h2>

<div>
    <h4>@Model.HoTen</h4>
    <p>MSSV: @Model.MSSV</p>
    <p>Căn cước công dân: @Model.CanCuocCongDan</p>
    <p>Số điện thoại: @Model.SoDienThoai</p>
    <p>Địa chỉ: @Model.DiaChi</p>
    <p>Ngành học: @Model.MaNganh</p>
    <p>Vai trò: @Model.VaiTro</p>
    <p>Tên tài khoản: @Model.TenTaiKhoan</p>
    <p>Mật khẩu: @Model.MatKhau</p>
</div>

<a href="@Url.Action("Index", "SinhVien")" class="btn btn-primary">Quay lại</a>